/* boostrap overriding */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(48, 151, 209, 0.2); /*#3097d1;*/
}
.input-append .btn.dropdown-toggle {
    float: none;
}
div.tooltip-inner {
    max-width: 350px;
}


.btn-inside {
  border-left: none;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, .075);
  background: none;
}
.btn-search {
  border-right: none ;
}

.btn-input {
   display: block;
}

.btn-input .btn.form-control {
    text-align: left;
}

.btn-input .btn.form-control span:first-child {
   left: 10px;
   overflow: hidden;
   position: absolute;
   right: 25px;
}

.btn-input .btn.form-control .caret {
   margin-top: -1px;
   position: absolute;
   right: 10px;
   top: 50%;
}

.list-group-item .icon {
    float: right;
}

.navbar {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
/* end */


.group-div {
  margin-bottom: -1px;
}
.group-name {
  background: #eee;
  width: 3em;
  text-align: center;
}

.tournament-nav {
  border-bottom: none;
}
.tournament-content {

}
.tournament-content-first {
  border-top-left-radius: 0px;
}
.tournament-title {
  margin-top: 0px;
}
.tournament-dropdown-options {
  cursor: pointer;
}
.tournament-dropdown-options:hover {
  text-decoration: none;
}
.breadcrumb {
  background: none;
}
.match-date {
  border-right: 1px #ddd solid;
  text-align: center;
  width: 12%;
}
.match-edit {
  border-left: 1px #ddd solid;
  text-align: center;
  width: 40px;
}


.vspace {
  height: 30px;
}
.welcome-hr {
  background: #eee;
  height: 1px;
  box-shadow: 0 -1px 4px rgba(255, 255, 255, 0.9);
}
#app {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: -50px;
}

footer {
  border-radius: 0 !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: none !important;
  border: none !important;
  background-color: #172b32 !important;
  margin-bottom: 0px !important;

}

footer p {
  color: #ccc !important;
}

body {
  /* background: linear-gradient(to bottom, #f5f8fa 75%,#3097d1 100%);*/
}


/****************************************
 ************ WELCOME PANEL *************
 ***************************************/
.welcome {
  margin-top: -22px;
  background-image: url(../img/background.jpg);
  background: url(../img/raster.png) fixed,  url(../img/background.jpg) center 16px fixed;
  background-repeat: inherit, no-repeat;

}

.welcome > .welcome-layer {
  background-color: rgba(88, 181, 209, 0.2);
  box-shadow: inset 0 -30px 30px -30px #f5f8fa;
}

.welcome .jumbotron {
  margin-top: 172px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ccc;
  padding-top: 24px;
  padding-bottom: 24px;
}
.welcome .jumbotron h1 {
  font-size: 58px;
  color: #fff;
}


@media only screen and (max-width : 420px) {
  .welcome .jumbotron h1 {
    font-size: 44px;
  }
  .welcome .jumbotron p {
    font-size: 18px;
  }
}
/*_____________________________________*/


/****************************************
 *********** BREADCRUMB PANEL ***********
 ***************************************/
.breadcrumb-panel {
  background-image: url(../img/background2.png);
  background-position: center -130px;
  margin-bottom: 22px;
  box-shadow: inset 0 -30px 30px -30px #f5f8fa;
  position:relative;  z-index:3
}

.breadcrumb-panel .breadcrumb {
  margin-top: 62px;
  background-color: rgba(0, 0, 0, 0.4);
}

.breadcrumb-panel .shadow-text {
  position: absolute;
      margin-left: auto;
      margin-right: auto;
      top: 60px;
      right: 0px;
      z-index: -1;
      padding-left: 15px;
      padding-right: 15px;
      font-size:55px;
      color: #f5f8fa;
}
/*_____________________________________*/


/****************************************
 ************* SEARCH PANEL *************
 ***************************************/
.search-form {
  padding: 0px 15px;
}
.search-form .form-group {
  float: left !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  /*border-radius: 25px;*/
  border: 1px solid transparent;
  margin-top: 10px;
  margin-bottom: 0px;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  padding-top: 2px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
  font-size: 12px;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.search-form .form-group i.form-control-feedback {
  position: absolute;
  top: -3px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
/*_____________________________________*/


/****************************************
 ************** NAV MOBILE **************
 ***************************************/

/* whole navigation div */
 .nav-mobile {
   margin-left: -15px;
   margin-right: -15px;
 }
 .nav-mobile ul.collapse li a,
 .nav-mobile ul.collapsing li a {
   padding: 10px 0px 0px 0px;
 }
.nav-mobile .row {
  padding-left: 10px;
  padding-right: 10px;
}

/* buttons == at level of columns */
.navbar-mobile-button {
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}
.navbar-mobile-button > .thumbnail {
  margin-bottom: 0px;
}

/* search button */
.search-button a {
  overflow: hidden;
  padding: 0px;
  text-align: center;
}

/* search button form */
.search-button .search-form {
  padding: 0px;
  text-align: center;
}
.search-button .form-group {
  margin: 0px;
  float: none;
  width: 100%;
  border: none;
  background: #f5f8fa;
  height: 30px;
}

/* search button trigger icon */
.search-button .search-form .form-group i {
  position: relative;
  margin: auto;
}
.search-button .search-form .form-group:hover,
.search-button .search-form .form-group.hover {
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  background: #fff;
}

/* search button input */
.search-button .search-form .form-group input.form-control {
  padding-right: 40px;
  padding-top: 2px;
  border: 0 none;
  box-shadow: none;
  display:block;
  font-size: 12px;
  opacity: 0;
}
/*_____________________________________*/

.bg-court-numbers {
  background: url(../img/raster.png) fixed,  url(../img/basketballcourt.jpg) center center fixed;
  background-size: auto, cover;
  background-repeat: inherit, no-repeat;
}
.bg-court-numbers .vspace {
  height: 50px;
}
.bg-court-numbers h3 {
  color: #fff;
}
.bg-court-numbers .jumbotron {
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.bg-court-numbers .number {
  padding-top: 10px;
}
.bg-court-numbers .number i {
  font-size: 70px;
  color: #3097d1;
}
.bg-court-numbers .number h4 {
  color: #fff;
}
.bg-court-numbers .number p {
  color: #fff;
  font-size: 14px;
}
@media only screen and (max-width : 420px) {
  .bg-court-numbers .number i {
    font-size: 54px;
  }
}
.trusted {
  padding-top:20px;
  padding-bottom:20px;
}

.trusted h3 {
  margin: 0px;
}

@media(min-width: 768px) {
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}
@media(max-width: 768px) {
  .img-responsive {
    margin: 0 auto;
  }
}

.img-center {
  margin: 0 auto;
}


.signup {
  border-top: 1px #ccc solid;
  padding-top:100px;
  padding-bottom:20px;
  background: #3097d1;
  color: #fff;
}

.visible-xs-table-cell {
  display: none;
}

@media(max-width: 767px) {
  .visible-xs-table-cell {
    display:table-cell !important;
  }
  .create-form-points .row .col-xs-4:first-child .visible-xs-table-cell {
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
  }
}

.item-container .group-div .form-control {
  border-radius: 0px !important;
}

.item-container .group-div:first-child .form-control {
  border-top-left-radius: 3px !important;
}

.item-container .group-div:last-child .form-control {
  border-bottom-left-radius: 3px !important;
}

.create-form-points .row .col-xs-4 .form-control {
  border-radius: 0px;
}
.create-form-points .row .col-xs-4:last-child .form-control {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.create-form-points .row .col-xs-4 .input-group-addon {
  border-radius: 0px;
}
.create-form-points .row .col-xs-4:first-child .input-group-addon {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* body {
  background: #f5f8fa url(../img/sports/basketball.png) right center fixed;
  background-repeat: no-repeat;
}*/
